#sliderWrapper {
    position: relative;
    display: inline-block;

    img {
        object-fit: cover;
    }

    figure {
        margin: 0;
        padding: 0;
    }

    figcaption {
        position: absolute;
        bottom: 4px;
        background-color: rgba(0,0,0,0.5);
        width: calc(100% - 20px);
        color: #fff;
        padding: 10px;
    }
}

#sliderCircles {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -30px;
}

.sliderCircle {
    border-radius: 1000px;
    background-color: #7e7e7e;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin: 3px;
    cursor: pointer;

    &:hover {
        background-color: #000;
        transition: all 1s;
    }

    &.active {
        background-color: #000;
    }
}

#sliderNext {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
}

#sliderPrev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
}

#sliderNext,
#sliderPrev {
    border-radius: 1000px;
    background-color: rgba(126, 126, 126, 0.70);
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    cursor: pointer;
    border: none;

    &:hover {
        border: 2px solid rgba(255, 255, 255, 1);

        &:after {
            opacity: 1;
        }
    }
}

#sliderNext:after,
#sliderPrev:after {
    content: "";
    border: solid #fff;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 4px;
    opacity: 0.6;
}

#sliderNext:after {
    transform: rotate(-45deg);
    margin-left: -4px;
}

#sliderPrev:after {
    transform: rotate(135deg);
    margin-right: -4px;
}